table {
    border-collapse: collapse;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #000;
}

thead > tr {
    background-color: #989898;
    border-bottom: 1px solid black;
    height: 50px;
}

td, th {
    padding: 8px;
    border-bottom: 1px solid black;
    text-align: center;
}

tbody > tr {
    background: #92949614;
}

tbody > tr:hover {
    background: #92949614;
    box-shadow: 0px 2px 5px #888, 0px 0px 5px #888;
}
